body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to top, rgba(0,0,0,0.3)50%,rgba(0,0,0,0.3)50%), url(images/album.png);
    background-size: cover;
    backdrop-filter: blur(10px);
    background-attachment: fixed;
}
/* Loader Styles */
#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(100px);
    background-image: linear-gradient(to top, rgba(0,0,0,0.7)50%,rgba(0,0,0,0.7)50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}
.spinner {
    animation: spin 3s linear infinite;
}
/*animation du loader*/
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/*précise la page dans laquelle on se trouve*/
#onglet{
    background-color: #b4743d;
    border-radius: 20px;
}
header {
    display: flex;
    align-items: center;
    background-color: #eb984e;
    padding: 10px 15px;
    /*pour que le menu soit toujours en haut*/
    position: sticky;
    z-index: 1000;
    top: 0;
}
header img {
    height: 80px;
    margin-right: 20px;
}
/*propriétés du menu en mode bureau*/
.desktop-menu {
    display: none;
    background-color: #eb984e;
    padding: 10px;
    top: 0;
    margin-left: 17%;
}
.desktop-menu > div {
    display: inline-block;
    position: relative;
}
.desktop-menu a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
}
.desktop-menu a:hover {
    background-color: #b4743d;
    border-radius: 20px;
    transition: all 0.3s ease;
}
.desktop-menu .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #bbb9b9;
    min-width: 200px;
    z-index: 1000;
}
.desktop-menu .submenu a {
    display: block;
    padding: 10px;
    margin-left: -20px;
    color: white;
}
.desktop-menu .submenu a:hover {
    background-color: #b4743d;
    border-radius: 0;
}
.desktop-menu > div:hover .submenu {
    display: block;
}
/*propriétés du menu vertical (mode bureau)*/
.sidebar {
    height: 450vh;
    width: 220px;
    position: fixed;
    top: 0;
    left: -250px;
    background-color: #eb984e;
    padding-top: 60px;
    transition: 0.3s;
    color: white;
    z-index: 1500;
}
.sidebar a {
    padding: 10px 15px;
    display: block;
    color: white;
    text-decoration: none;
}
.sidebar a:hover {
    background-color: #b4743d;
}
.submenu {
    display: none;
    background-color: #eb984e;
    padding-left: 20px;
}
.submenu a {
    font-size: 14px;
}
/*propriétés du bouton 'menu' en mode mobile*/
.open-btn {
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #eb984e;
    color: white;
    border: none;
    padding: 10px 15px;
    display: none;
    position: sticky;
    margin-top: -80px;
    z-index: 1500;
}
/*propriétés de la barre verticale des liens*/
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 450vh;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 1500;
}

#titre h1{
    margin-left: 40px;
    float: left;
    color: #a06a3a;
    font-size: 2.5vw;
}
#photo img{
    border-radius: 10px;
    padding: 5px;
}


/**adaptation pour les différents écrans*/
/*@media apporte des changements qu'on spécifie à la page pour une largeur max ou min qu'on définit*/
@media (max-width:1250px){
    .desktop-menu {
        margin-left: 8%;
    }
}
@media (max-width:1075px){
    .desktop-menu {
        margin-left: 0%;
        font-size: 13px;
    }
}
@media (max-width: 875px) {
    .desktop-menu { display: none; }
    .open-btn { display: block; }
    .overlay{display: none;}
    header img{ margin-left: 75%;}
}
@media (min-width: 875px) {
    .sidebar, .overlay, .open-btn { display: none; }
    .desktop-menu { display: block; }
}