body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to top, rgba(0,0,0,0.6)50%,rgba(0,0,0,0.6)50%), url(images/annonces.png);
    background-size: cover;
    background-attachment: fixed;
}
/* Loader Styles */
#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top, rgba(0,0,0,0.7)50%,rgba(0,0,0,0.7)50%);
    z-index: 2000;
}
.spinner {
    animation: spin 3s linear infinite;
}
/*animation du loader*/
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/*précise la page dans laquelle on se trouve*/
#onglet{
    background-color: #b4743d;
    border-radius: 20px;
}
header {
    display: flex;
    align-items: center;
    background-color: #eb984e;
    padding: 10px 15px;
    /*pour que le menu soit toujours en haut*/
    position: sticky;
    z-index: 1000;
    top: 0;
}
header img {
    height: 80px;
    margin-right: 20px;
}
/*propriétés du menu en mode bureau*/
.desktop-menu {
    display: none;
    background-color: #eb984e;
    padding: 10px;
    top: 0;
    margin-left: 17%;
}
.desktop-menu > div {
    display: inline-block;
    position: relative;
}
.desktop-menu a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
}
.desktop-menu a:hover {
    background-color: #b4743d;
    border-radius: 20px;
    transition: all 0.3s ease;
}
.desktop-menu .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #bbb9b9;
    min-width: 200px;
    z-index: 1000;
}
.desktop-menu .submenu a {
    display: block;
    padding: 10px;
    margin-left: -20px;
    color: white;
}
.desktop-menu .submenu a:hover {
    background-color: #b4743d;
    border-radius: 0;
}
.desktop-menu > div:hover .submenu {
    display: block;
}
/*propriétés du menu vertical (mode bureau)*/
.sidebar {
    height: 200vh;
    width: 220px;
    position: fixed;
    top: 0;
    left: -250px;
    background-color: #eb984e;
    padding-top: 60px;
    transition: 0.3s;
    color: white;
    z-index: 1500;
}
.sidebar a {
    padding: 10px 15px;
    display: block;
    color: white;
    text-decoration: none;
}
.sidebar a:hover {
    background-color: #b4743d;
}
.submenu {
    display: none;
    background-color: #eb984e;
    padding-left: 20px;
}
.submenu a {
    font-size: 14px;
}
/*propriétés du bouton 'menu' en mode mobile*/
.open-btn {
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #eb984e;
    color: white;
    border: none;
    padding: 10px 15px;
    display: none;
    position: sticky;
    margin-top: -80px;
    z-index: 1500;
}
/*propriétés de la barre verticale des liens*/
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 200vh;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 1500;
}


/*barre de défilement*/
.annonces {
    margin-top: 30px;
    overflow: hidden;
    height: 80px;
    width: auto;
    border: 2px solid #eb984e;
    backdrop-filter: blur(5px);
    background: linear-gradient(to top, rgba(0,0,0,0.3)50%,rgba(0,0,0,0.3)50%);
    border-right: none;
    color: #e6e6e6;
    font-family: sans-serif;
}
#annonces {
  height: 50px;
  width: 120%;
  display: flex;
  animation: sliding 30s infinite;
}
@keyframes sliding {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}


/*slider css*/
.container{
    position: absolute;
    top: 70%;
    left: 40%;
    transform: translate(-50%, -50%);
    margin-left: 50px;
    width: 80%;
    height: 800px;
    border: 2px solid #eb984e;
    border-radius: 15px;
}
.container .slide .item{
    width: 200px;
    height: 300px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 20px;
    background-position: 50% 50%;
    background-size: cover;
    display: inline-block;
    transition: 0.5s;
} 
.slide .item:nth-child(1){
    top: 0;
    left: 0;
    transform: translate(0,0);
    border-radius: 0;
    border-radius: 15px;
    width: 100%;
    height: 100%;
}
.slide .item:nth-child(2){
    left: calc(50% + 27%);
}
.slide .item:nth-child(3){
    left: calc(50% + 42%);
}
.slide .item:nth-child(4){
    left: calc(50% + 57%);
}
.item .content{
    position: absolute;
    top: 50%;
    left: 100px;
    width: 300px;
    text-align: left;
    color: #eee;
    transform: translate(0, -50%);
    font-family: system-ui;
    display: none;
}
.item a{
    text-decoration: none;
}
.slide .item:nth-child(1) .content{
    display: block;
}
.content .name{
    width: 1000px;
    font-size: 50px;
    font-weight: bold;
    opacity: 0;
    animation: animate 1s ease-in-out 1 forwards;
    color: #eb984e;
}
.content .des{
    margin-top: 10px;
    margin-bottom: 20px;
    opacity: 0;
    animation: animate 1s ease-in-out 0.3s 1 forwards;
    font-size: 20px;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.content button{
    height: 50px;
    width: 200px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    opacity: 0;
    animation: animate 1s ease-in-out 0.6s 1 forwards;
    border-radius: 5px;
}
@keyframes animate{
    from{
        opacity: 0;
        transform: translate(0,100px);
        filter: blur(33px);
    }
    to{
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}
.button{
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 20px;
}
.button img{
    border: 2px solid #eb984e;
    border-radius: 100px;
    background: linear-gradient(to top, rgba(0,0,0,0.6)50%,rgba(0,0,0,0.6)50%);
}

/*fin du code du slider*/


.containing{ 
    width: 80%;
    margin-top: 3000px;
    display: flex;
    margin: 0 auto;
    justify-content: center; /* centre horizontalement */
    align-items: center;     /* centre verticalement */
}
.categorie{
    width: 30%;
    height: 350px;
    background-image: linear-gradient(to top, rgba(0,0,0,0.4)50%,rgba(0,0,0,0.4)50%);
    backdrop-filter: blur(8px);
    border: 2px solid #eb984e;
    color: #eb984e;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 20px;
    float: left;
    text-align: center;
}
.categorie img{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.categorie p{
    font-size: 130%;
}
.categorie a{
    text-decoration: none;
    color: aliceblue;
}
.categorie a:hover{color: #eb984e;
    transition: 0.3s;
}

/**adaptation pour les différents écrans*/
/*@media apporte des changements qu'on spécifie à la page pour une largeur max ou min qu'on définit*/
@media (max-width:1250px){
    .desktop-menu {
        margin-left: 8%;
    }
}
@media (max-width:1075px){
    .desktop-menu {
        margin-left: 0%;
        font-size: 13px;
    }
}
@media (max-width: 875px) {
    .desktop-menu { display: none; }
    .open-btn { display: block; }
    .overlay{display: none;}
    header img{ margin-left: 75%;}
}
@media (min-width: 875px) {
    .sidebar, .overlay, .open-btn { display: none; }
    .desktop-menu { display: block; }
}